// breakpoints
$breakpoint-mobile: 481px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1025px;


// colors
$color-items: rgb(103, 109, 113);
$color-text: rgb(103, 109, 113);
$color-text-active: rgb(24, 119, 184);
$color-news-box-header: rgb(240, 240, 241);
$color-box-content-title: rgb(65, 65, 65);

// fonts